.nav-link-custom {
    font-size: 15px;
    line-height: 1.5;
    color: black;
    text-decoration: none;
}

.nav-link-custom:hover {
    background-color: yellow;
    color: red;
}

.custom-hover-link:hover {
    background-color: #808080;
}

.header-style {
    font-size: 10px !important;
    background-color: 'black';   /* schwarzer Hintergrund */
    color: white;              /* Weiße Textfarbe */
    # padding: 10px;               /* Padding */
    text-align: left;          /* Zentrierter Text */
}

/* 🏡 Entfernt Branding & Links von GeoAdmin */
iframe { overflow: hidden; border: none; }
.ga-footer, .ga-branding, .ga-logo, .ga-links { 
    display: none !important; 
    visibility: hidden !important; 
}

button[title="Developer Tools"] {
    display: none !important;
}
